/*---------------------------------------------
[$reset]
----------------------------------------------*/

* {
    padding: 0;
    margin: 0;
}

/*---------------------------------------------
// ENDS [reset]
----------------------------------------------*/


/*---------------------------------------------
[$universal]
----------------------------------------------*/

body {
    font: 1em Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

/*---------------------------------------------
// ENDS [universal]
----------------------------------------------*/


/*---------------------------------------------
[$layout]
----------------------------------------------*/

.container {
    padding: 5%;
    max-width: 1200px;
    margin: 0 auto;
}

/*---------------------------------------------
// ENDS [layout]
----------------------------------------------*/


/*---------------------------------------------
[$responsive]
----------------------------------------------*/

@media (min-width: 700px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .content, .sidebar {
        width: 48%;
    }
}

@media (min-width: 1000px) {
    .content {
        width: 65%;
    }

    .sidebar {
        width: 30%;
    }
}

/*---------------------------------------------
// ENDS [responsive]
----------------------------------------------*/
